.basicBox {
    width: 50%;
    color: white;
    background-color: #52EB8C;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 1%;
    border-style: solid;
    border-color: #189E4B;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

p {
    font-family: 'Varela Round', sans-serif; font-size: 20px; color: #1c0806;
}

h1 {
    font-family: 'Alfa Slab One', cursive; color: #111; font-size: 600%;
}
h2 {
    font-family: 'Alfa Slab One', cursive; color: #111;
}
h3 {
    font-family: 'Alfa Slab One', cursive; color: #111;
}
h4 {
    font-family: 'Varela Round', sans-serif; color: #1c0806;
}
h5 {
    font-family: 'Varela Round', sans-serif; color: #1c0806;
}
h6 {
    font-family: 'Varela Round', sans-serif; color: #1c0806;
}

a {
    color: #9E2D28;
}

body {
    text-align: center;
    background-color: #EB5B53;
}