body {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 0px;
    text-align: left;
    background-color: var(--b);
    color: var(--f);
    font-family: 'Varela Round', sans-serif;
}

a{
    color:var(--l);
    transition:0.3s;
    transition-timing-function: ease;
}
a:hover {
    color:var(--l2);
}

h1 {
    font-size:70px;
}
h2 {font-size:35px;}

h1,h2,h3,h4,h5,h6 {text-align: center;}

p {
    font-size: 25px;
}

hr {
    border-style: groove;
    border-width: 1px;
    color:var(--f);
    width:90%;
    position:relative;
    z-index:-1
}

button {
    border-radius: 15px;
    outline: none;
    color:var(--l);
    background-color:var(--b);
    font-family: 'Varela Round', sans-serif;
    border:none;
    transition:0.3s;
    transition-timing-function: ease;
}
button:hover {
    color:var(--l2);
    background-color:var(--f2);
}

.navLink {
    position: absolute;
    top:30%;
    height:40%;
    font-size:35px;
    width:10%;
    text-decoration: none;
}

.sidebyside {
    display:flex;
    flex-wrap: nowrap;
    justify-content: left;
    z-index:0;
}

.pageTitle {
    padding-bottom: 5%;
}

.spoiler {
    border-radius: 15px;
    font-size: 85%;
    padding-left:15px;
    padding-right:15px;
    background-color: var(--f2);
    color: var(--f2);
    transition:0.3s;
    transition-timing-function: ease;
    user-select: none;
}
.spoiler:hover {
    font-size: 95%;
    padding-left:0%;
    padding-right:0%;
    background-color: var(--f2);
    color: var(--f);
}
.spoiler_clicked {
    border-radius: 15px;
    font-size: 95%;
    background-color: var(--f2);
    color: var(--f);
}