body {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 0px;
    text-align: left;
    background-color: var(--b);
    color: var(--f);
    font-family: 'Varela Round', sans-serif;
}

a{
    color:var(--l);
    transition:0.3s;
    transition-timing-function: ease;
}
a:hover {
    color:var(--l2);
}

h1 {
    font-size:70px;
}
h2 {font-size:35px;}

h1,h2,h3,h4,h5,h6 {text-align: center;user-select: none;}

p {
    font-size: 25px;
}

hr {
    border-style: solid;
    border-width: 1px;
    color:var(--f2);
    width:90%;
    position:relative;
    z-index:-1;
}

button {
    outline: none;
    color:var(--l);
    font-family: 'Varela Round', sans-serif;
    border:none;
}
button:hover {
    color:var(--l2);
    
}

.navLink {
    text-align:center;
    font-size:35px;
    width:25%;
    height:150%;
    text-decoration: none;
    user-select: none;
    transition:0.3s;
    transition-timing-function: ease;
    background-color:var(--b);
}
.navLink:hover {
    background-color:var(--f2);
}

.sidebyside {
    display:flex;
    flex-wrap: nowrap;
    justify-content: left;
    z-index:0;
}

.pageTitle {
    padding-bottom: 5%;
}

.spoiler {
    border-radius: 15px;
    font-size: 0px;
    padding: 18px 12px 6px 13px;
    background-color: var(--f2);
    color: var(--f2);
    transition:0.3s;
    transition-timing-function: ease;
    user-select: none;
}
.spoiler_clicked {
    border-radius: 15px;
    font-size: 95%;
    padding: 0% 10px 0% 10px;
    background-color: var(--f2);
    color: var(--f);
    user-select: none;
}