.main {
    color: #2c2c2c;
    letter-spacing: .05em;
    text-shadow: 
    2px 2px 0px #d5d5d5, 
    3px 3px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.triangle-up-1 {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid #555;
}

.triangle-up-2 {
	width: 0;
	height: 0;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-bottom: 80px solid #555;
}

.triangle-up-3 {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid #555;
}

.triangle-down-1 {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid #555;
}

.triangle-down-2 {
	width: 0;
	height: 0;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-top: 80px solid #555;
}

.triangle-down-3 {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 50px solid #555;
}