.bottomMenu {
    text-align: left;
}

div {
    background-color: lightgray;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

p {
    color: white;
}

body {
    text-align: center;
    background-color: gray;
}