div {
    background-color: black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0 auto;
    margin-top: 5%;
}

p {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

body {
    text-align: center;
    background-image: url("background.png");
}