body {
    background-color: black;
    color: white;
    font-family: 'Courier New', monospace;
}

body > div > div > div {
    background-color: #333;
    margin: 1em;
    padding: 0.5em;
}

.player_info b {
    color: #999;
}

.player_info * {
    margin: 0;
}

.player_info i {
    color: #777;
    font-weight: 600;
    font-size: 14px;
    margin: 0 0 0 1em;
}

.larger_1 {
    font-size: 18px;
}

.job_listing, .skill_listing, .item_listing {
    display: flex;
    padding: 0.25em;
    font-weight: 600;
    position: relative;
}

.job_listing *, .skill_listing *, .item_listing *, .listing_header * {
    flex: 1;
    text-align: center;
}

.job_listing *:nth-child(1), .skill_listing *:nth-child(1), .item_listing *:nth-child(1), .listing_header *:nth-child(1) {
    flex: 3;
}

.skill_listing *:nth-child(5), .item_listing *:nth-child(3), #skills_holder > .listing_header *:last-child, #items_holder > .listing_header *:last-child {
    flex: 2;
}

.active_job_listing, .active_skill_listing {
    background: #222;
}

button {
    appearance: none;
    background-color: #555;
    border: 0.1em solid #000;
    color: white;
}

.job_listing > button, .skill_listing > button, .item_listing > button {
    position: relative;
    z-index: 0;
    border: 0px;
    padding: 0;
}

.item_listing > button {
    background-color: #336;
}

.active_item_listing > button {
    background-color: #2aa22a;
}

.job_listing > button > span, .skill_listing > button > span, .item_listing > button > span {
    z-index: 1;
    color: #5cf;
    font-weight: 700;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;  
}

.item_listing > button > span {
    color: #fff;
}

.job_listing > button > div, .skill_listing > button > div, .item_listing > button > div {
    box-shadow: 0 0 0 0.1em #000 inset;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
}

.active_job_listing > button > span, .active_skill_listing > button > span {
    color: #8f2; 
}

.job_listing > button > progress, .skill_listing > button > progress {
    position: absolute;
    inset: 0;
    z-index: -1;
    width:100%;
    height:100%;
    appearance: none;
}

.job_listing > button > progress::-webkit-progress-value, .skill_listing > button > progress::-webkit-progress-value {
    background-color: #55a;
}

.job_listing > button > progress::-webkit-progress-bar, .skill_listing > button > progress::-webkit-progress-bar {
    background-color: #336;
}


.active_job_listing > button > progress::-webkit-progress-value, .active_skill_listing > button > progress::-webkit-progress-value {
    background-color: #2aa22a;
}

.tab_button {
    flex:1;
    padding:0.25em 1em;
    margin: 0 0.5em;
}

.req_text {
    color: #999;
    padding: 0.25em;
    font-weight: 700;
    text-align: center;
}

.footer {
    color: #444;
    text-align: center;
}

.footer a {
    color: #444;
}

.listing_header {
    display: flex;
    text-align: center;
}

#toggle_time_button {
    width: 2em;
    padding: 0.25em 0 0.5em;
    color: #bbb;
    font-weight: 700;
}

#player_age > span {
    color: #fff;
}

.requirement_warning_symbol {
  position: absolute;
  left: 0px;
  top: 0;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff0000;
  color: #000;
  border: 1px solid #000;
  cursor: pointer;
  z-index: 2;
}
.requirement_warning_symbol > span {
  position: absolute;
  top: 0;
  left: 150%;
  background-color: #533;
  color: #fff;
  border: 2px solid #422;
  padding: 6px;
  white-space: nowrap;
  z-index: 1;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.requirement_warning_symbol:hover > span {
  visibility: visible;
  opacity: 1;
}