body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
p {display: inline;}

#pcount {font-weight: bold;}

#pgen1rate, #pgen2rate, .pgenrate {
    color: gray;
}

button {
    width: 50%;
    margin: 1em 0;
}
button:hover {
    border-color: red;
}

.ul1, .ul2, .ul3, .boost0 {
    display: none;
}

.main {
    display: flex;
}

.category {
    margin: 0 2.5%;
    width: 20%
}

h1 {
    font-size:3em;
    text-align: center;
}

#metagen0 {
    padding: 5px;
    width:100%
}